{
  "openapi": "3.1.2",
  "info": {
    "title": "TokenCalculator Developer API",
    "version": "2026-08-28",
    "description": "Measure LLM tokens, cost, context usage, and model-specific methodology for text, chat content, extracted file content, source code, and image geometry. Public HTTP requests are processed at the TokenCalculator.dev edge; use the npm package or browser app when content must remain on-device.",
    "license": { "name": "API Terms", "identifier": "LicenseRef-TokenCalculator-API-Terms", "url": "https://tokencalculator.dev/terms-of-service/" }
  },
  "servers": [{ "url": "https://tokencalculator.dev/api/v1" }],
  "tags": [
    { "name": "Measurement", "description": "Single, batch, and multi-model token measurements" },
    { "name": "Catalog", "description": "Machine-readable model capabilities and verified pricing" }
  ],
  "paths": {
    "/models": {
      "get": { "operationId": "listModels", "tags": ["Catalog"], "summary": "List supported models", "responses": { "200": { "description": "Model catalog", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListResponse" } } } } } }
    },
    "/count": {
      "post": { "operationId": "countTokens", "tags": ["Measurement"], "summary": "Measure one model request", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MeasurementRequest" } } } }, "responses": { "200": { "description": "Token measurement", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Measurement" } } } }, "400": { "$ref": "#/components/responses/Problem" }, "422": { "$ref": "#/components/responses/Problem" }, "429": { "$ref": "#/components/responses/Problem" } } }
    },
    "/batch": {
      "post": { "operationId": "batchCountTokens", "tags": ["Measurement"], "summary": "Measure up to 25 requests", "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["requests"], "properties": { "requests": { "type": "array", "minItems": 1, "maxItems": 25, "items": { "$ref": "#/components/schemas/MeasurementRequest" } } } } } } }, "responses": { "200": { "description": "Ordered measurement list" }, "400": { "$ref": "#/components/responses/Problem" }, "429": { "$ref": "#/components/responses/Problem" } } }
    },
    "/compare": {
      "post": { "operationId": "compareModels", "tags": ["Measurement"], "summary": "Run one input across up to 10 models", "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["models", "request"], "properties": { "models": { "type": "array", "minItems": 1, "maxItems": 10, "items": { "type": "string" } }, "request": { "$ref": "#/components/schemas/MeasurementRequestWithoutModel" } } } } } }, "responses": { "200": { "description": "Model comparison" }, "400": { "$ref": "#/components/responses/Problem" }, "429": { "$ref": "#/components/responses/Problem" } } }
    },
    "/health": { "get": { "operationId": "getHealth", "tags": ["Catalog"], "summary": "Check API availability", "responses": { "200": { "description": "Healthy" } } } }
  },
  "components": {
    "responses": { "Problem": { "description": "RFC 9457 problem detail", "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } } } },
    "schemas": {
      "Input": {
        "type": "object",
        "properties": {
          "text": { "type": "string", "description": "Raw prompt or other text" },
          "messages": { "type": "array", "items": { "type": "object", "required": ["content"], "properties": { "role": { "type": "string" }, "name": { "type": "string" }, "content": { "type": "string" } } } },
          "files": { "type": "array", "description": "Already-extracted document text or source code; binary files are not accepted", "items": { "type": "object", "required": ["content"], "properties": { "name": { "type": "string" }, "media_type": { "type": "string" }, "content": { "type": "string" } } } },
          "images": { "type": "array", "items": { "type": "object", "required": ["width", "height"], "properties": { "width": { "type": "integer", "minimum": 1 }, "height": { "type": "integer", "minimum": 1 }, "detail": { "type": "string", "enum": ["low", "high"], "default": "high" } } } }
        }
      },
      "MeasurementRequest": {
        "type": "object", "required": ["model", "input"],
        "properties": {
          "model": { "type": "string", "example": "gpt-5.6-terra" },
          "input": { "$ref": "#/components/schemas/Input" },
          "output_tokens": { "type": "integer", "minimum": 0, "default": 0 },
          "cached_input_tokens": { "type": "integer", "minimum": 0, "default": 0 },
          "options": { "type": "object", "properties": { "include": { "type": "array", "items": { "type": "string", "enum": ["usage", "breakdown", "cost", "context", "method", "pricing"] } } }, "additionalProperties": false },
          "metadata": { "type": "object", "additionalProperties": true, "description": "Caller data echoed unchanged in the response" }
        }
      },
      "MeasurementRequestWithoutModel": {
        "type": "object",
        "description": "A measurement request applied once to every ID in the outer models array.",
        "required": ["input"],
        "properties": {
          "input": { "$ref": "#/components/schemas/Input" },
          "output_tokens": { "type": "integer", "minimum": 0, "default": 0 },
          "cached_input_tokens": { "type": "integer", "minimum": 0, "default": 0 },
          "options": { "type": "object", "properties": { "include": { "type": "array", "items": { "type": "string", "enum": ["usage", "breakdown", "cost", "context", "method", "pricing"] } } }, "additionalProperties": false },
          "metadata": { "type": "object", "additionalProperties": true, "description": "Caller data echoed unchanged in the response" }
        }
      },
      "Measurement": {
        "type": "object",
        "properties": {
          "object": { "const": "token_measurement" },
          "request_id": { "type": "string" },
          "model": { "type": "object" },
          "usage": { "type": "object", "properties": { "input_tokens": { "type": "integer" }, "text_tokens": { "type": "integer" }, "image_tokens": { "type": "integer" }, "cached_input_tokens": { "type": "integer" }, "output_tokens": { "type": "integer" }, "total_tokens": { "type": "integer" } } },
          "breakdown": { "type": "array", "items": { "type": "object" } },
          "cost": { "type": "object" },
          "context": { "type": "object" },
          "method": { "type": "object" },
          "pricing": { "type": "object" },
          "metadata": { "type": "object" }
        }
      },
      "ListResponse": { "type": "object", "properties": { "object": { "const": "list" }, "data": { "type": "array", "items": { "type": "object" } } } },
      "Problem": { "type": "object", "required": ["type", "title", "status", "detail", "instance"], "properties": { "type": { "type": "string", "format": "uri" }, "title": { "type": "string" }, "status": { "type": "integer" }, "detail": { "type": "string" }, "instance": { "type": "string" } } }
    }
  }
}
